//====================================================================================================
.hero {
    padding-top: rem(120);
    margin-top: rem(-100);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 120px),50% 100%,0 calc(100% - 120px));
    background: linear-gradient(90deg, rgba(31,94,55,1) 54%, rgba(2,0,36,0.8855917366946778) 100%);

    @include adaptiveValue("padding-bottom", 80, 45);

    &__container {
       display: grid;
       grid-template-columns: 1fr 1fr;

       @media (max-width: $tablet) {
        grid-template-columns: 1fr;
       }
    }

    &__bottom {
        clip-path: polygon(0 0,50% 60px,100% 0,100% 100%,0 100%);
        margin-top: -60px;
    }

    &__text__head {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(227);
        height: rem(50);
        border-radius: rem(15);
        background: rgba(255, 255, 255, 0.25);
        color: $mainWhite;
        font-size: rem(18);
        font-weight: 500;
        margin-bottom: rem(20);
    }

    &__text__title {
        @include title;
    }

    &__text__subtitle {
        @include subtitle;
    }

    &__text__button {
        @include mainButton;
    }

    &__image {
        justify-self: center;

        & img {
            max-width: 700px;
            width: 115%;
            height: 115%;
        }
    }



}

.slider {
    @include adaptiveValue("padding-top", 70, 50);
    @include adaptiveValue("padding-bottom", 70, 50);

    &__container {
        display: grid;
        grid-template-columns: 0.8fr 650px;
        gap: rem(25);

        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
    }

    &__text__head {
        color: $mainColor;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @include adaptiveValue("font-size", 30, 20);
        margin-bottom: rem(20);
    }

    &__text__title {
        @include title;
        color: $mainColor;
    }

    &__text__subtitle {
        @include subtitle;
        color: $mainColor;
    }

    &__text__button {
        @include mainButton;
        width: rem(223);
        height: rem(79);
        @include adaptiveValue("font-size", 20, 15);
    }

    &__swiper {
        overflow: hidden;
        touch-action: pan-y;
        width: auto;

        .swiper-slide {
            scale: 0.9;
            transition: $mainTransition ease-in;

            img {
                width: 100%;
                height: auto;
            }
        }

        .swiper-slide-active {
            scale: 1;
        }
    }


}

.reviews {
    @include adaptiveValue("padding-bottom", 100, 50);

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(40);

        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    &__image {
        width: 100%;

        @media (max-width: $tablet) {
            order: 2;
        }
        
        img {
            width: 100%;
            height: auto;
            max-width: 480px;

            @media (max-width: $tablet) {
                max-width: unset;
            }
        }
    }

    &__title {
        @include title;
        color: $mainColor;
    }

    &__comment {

        .comment__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: rem(400);
            margin-bottom: rem(70);
        }

        .comment__avatar {
            width: 134px;
            height: 134px;
            background-color: #f47e66;
            border-radius: 50%;
        }

        .comment__username {
            color: #0F1F1C;
            font-weight: 500;
            margin-bottom: rem(10);
            @include adaptiveValue("font-size", 33, 20);
        }

        .comment__location {
            color: #0F1F1C;
            font-size: rem(25);
            font-weight: 400;
            @include adaptiveValue("font-size", 25, 15);
        }

        .comment__text {
            color: #0F1F1C;
            font-size: rem(22);
            font-weight: 500;
            opacity: 0.5;
            line-height: 150%;
            margin-bottom: rem(30);
            @include adaptiveValue("font-size", 22, 15);
        }

        .comment__stars {
            display: flex;
            align-items: center;
            gap: rem(8);

            .stars__icon {

                svg {
                    width: 59px;
                    height: 59px;
                    fill: #C4C4C4;

                    @media (max-width: $mobile) {
                        width: 29px;
                        height: 29px;
                    }
                }
            }

            .stars__icon:nth-child(1),
            .stars__icon:nth-child(2),
            .stars__icon:nth-child(3) {
                svg {
                    fill: #FFD336;
                }
            }
        }
    }

}

.discount {
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("padding-top", 115, 50);
        @include adaptiveValue("padding-bottom", 115, 50);
        background-color: #FFFFFF;
        border-radius: 60px;
    }

    &__title {
        @include title;
        color: $mainColor;
        text-align: center;
    }

    &__subtitle {
        @include subtitle;
        color: $mainColor;
        margin: 0 auto;
        margin-bottom: rem(60);
    }

    &__button {
        @include mainButton;
    }
}

.subscribe {

    @include adaptiveValue("padding-top", 135, 50);
    @include adaptiveValue("padding-bottom", 100, 50);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        @include title;
        color: $mainColor;
        text-align: center;
    }

    &__form {
        position: relative;
        width: 100%;
        max-width: rem(800);
        min-height: rem(129);
        background-color: $mainWhite;
        border-radius: rem(35);
        padding: rem(12) rem(15);
        padding-left: rem(46);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(25);

        @media (max-width: $tablet) {
            flex-direction: column;
            padding: rem(12) rem(15);
        }
    }

    &__input {
        width: 100%;
        min-height: 100%;
        color: $mainColor;
        font-weight: 500;
        opacity: 0.5;
        outline: none;
        @include adaptiveValue("font-size", 24, 15);
    }


    &__button {
        @include mainButton;
        min-width: rem(300);

        @media (max-width: $tablet) {
            width: 100%;
            min-width: unset;
        }
    }


}
//====================================================================================================
